<section class="bg-white border-b border-black/5">
  <div class="w-full mx-auto md:px-12 px-8 max-w-7xl lg:px-16">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full py-5 mx-auto bg-white md:items-center md:justify-between md:flex-row md:px-6">
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a href="/" class="lg:pr-8 text-black inline-flex items-center gap-3">

          <svg
          width="30mm"
          height="63.604584mm"
          viewBox="0 0 154.34592 63.604584"
          version="1.1"
          id="svg5"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:svg="http://www.w3.org/2000/svg"
          xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
          xmlns:cc="http://creativecommons.org/ns#"
          xmlns:dc="http://purl.org/dc/elements/1.1/">
         <title
            id="title1510">53C logo</title>
         <defs
            id="defs2">
           <rect
              x="270"
              y="439.33914"
              width="221.85786"
              height="149.81297"
              id="rect502" />
         </defs>
         <g
            id="layer1"
            transform="translate(-21.036783,-16.57711)">
           <g
              aria-label="53C"
              transform="matrix(1.0993402,0,0,1.0993402,-284.72706,-489.7081)"
              id="text500"
              style="font-weight:900;font-size:85.3333px;font-family:Arial;-inkscape-font-specification:'Arial Heavy';white-space:pre;shape-inside:url(#rect502);display:inline;stroke:#000000;stroke-width:2.48208;stroke-dashoffset:28.8404">
             <path
                d="m 291.41666,510.0682 h 16.20832 v -17.16666 h -21.16665 v -31.12498 h 24.66665 q 1.41667,0 2.45834,1.04166 1.04166,1.04167 1.04166,2.45834 0,1.45833 -1.04166,2.49999 -1,1 -2.45834,1 h -17.58332 v 17.125 h 14.08332 q 2.83334,0 4.91667,2.08333 2.08333,2.08333 2.08333,4.91666 v 17.16666 q 0,2.875 -2.08333,4.95834 -2.04167,2.04166 -4.91667,2.04166 h -16.20832 q -2.16667,0 -4.625,-1.04167 L 281.5,513.8182 q -2.125,-0.875 -2.125,-3.33333 0,-1.45833 0.95833,-2.45833 0.95833,-1.04167 2.33333,-1.04167 1.04167,0 2.41667,0.625 l 4.625,1.95833 q 0.83333,0.5 1.70833,0.5 z"
                style="font-weight:bold;font-family:'OCR A Extended';-inkscape-font-specification:'OCR A Extended Bold'"
                id="path461" />
             <path
                d="m 365.41663,468.77655 v 13.125 q 0,4.58333 -2.83334,7.41666 2.91667,3.25 2.91667,7.08333 v 13.66666 q 0,2.875 -2.08333,4.95834 -2.08333,2.04166 -5,2.04166 h -24.74999 q -1.45833,0 -2.5,-1 -1,-1.04166 -1,-2.5 0,-1.45833 1,-2.45833 1.04167,-1.04167 2.5,-1.04167 h 24.66666 v -13.66666 q 0,-1.45833 -1.04167,-2.5 -1,-1.08333 -2.45833,-1.08333 h -14.08333 q -1.45833,0 -2.5,-1 -1,-1 -1,-2.5 0,-1.45833 1,-2.45833 1.04167,-1.04167 2.5,-1.04167 h 14.16666 q 1.41667,0 2.45833,-1 1.04167,-1.04166 1.04167,-2.49999 v -13.54167 h -24.99999 q -1.45833,0 -2.5,-1 -1,-1.04166 -1,-2.49999 0,-1.45834 1,-2.45834 1.04167,-1.04166 2.5,-1.04166 h 24.99999 q 2.91667,0 4.95833,2.08333 2.04167,2.04167 2.04167,4.91666 z"
                style="font-weight:bold;font-family:'OCR A Extended';-inkscape-font-specification:'OCR A Extended Bold'"
                id="path463" />
             <path
                d="m 400.91661,510.15154 h 12.625 q 1.45833,0 2.5,1.04166 1.08333,1 1.08333,2.45834 0,1.45833 -1.08333,2.49999 -1.04167,1 -2.5,1 h -13.08333 q -2.5,0 -5.16667,-1.58333 -2.66666,-1.58333 -3.70833,-3.54166 l -8.08333,-15.625 q -1.625,-3.375 -1.625,-6.91666 0,-3.91667 1.54167,-6.79166 l 8.16666,-15.45833 q 1.16667,-2.16667 3.625,-3.79167 2.45833,-1.66666 4.75,-1.66666 h 13.83333 q 1.45833,0 2.45833,1.04166 1.04166,1.04167 1.04166,2.45834 0,1.45833 -1.04166,2.54166 -1,1.04167 -2.45833,1.04167 h -13.33333 q -1.66667,0 -2.70833,1.95833 l -7.75,14.49999 q -0.91667,1.70834 -0.91667,4.04167 0,2.45833 1,4.33333 l 7.41667,14.24999 q 1.04166,2.20834 3.41666,2.20834 z"
                style="font-weight:bold;font-family:'OCR A Extended';-inkscape-font-specification:'OCR A Extended Bold'"
                id="path465" />
           </g>
         </g>
         <metadata
            id="metadata1508">
           <rdf:RDF>
             <cc:Work
                rdf:about="">
               <dc:title>53C logo</dc:title>
             </cc:Work>
           </rdf:RDF>
         </metadata>
       </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row">
        <a
        class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
        href="/#about">About</a
        >
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
          href="/#services">Services</a
        >
        <a
        class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
        href="/#pricing">Pricing</a
      >
        <a
        class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
        href="/#contact">Contact</a
        >

        <div class="inline-flex items-center gap-2 list-none lg:ml-auto">
          <a
            href="/register"
            class="block px-4 py-2 mt-2 text-sm font-medium text-black md:mt-0 hover:text-accent-400 focus:outline-none focus:shadow-outline">
            Register
          </a>
          <a
            href="/login"
            class="inline-flex items-center justify-center px-4 py-2 text-sm font-medium text-black bg-slate-100 rounded-lg group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-slate-50 active:bg-slate-200 active:text-accent-400 focus-visible:outline-black">
            Log in
          </a>
        </div>
      </nav>
    </div>
  </div>
</section>
